PORT=3000
NODE_ENV=production
SESSION_SECRET=change-this-to-a-long-random-string

# Discord OAuth2
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_CALLBACK_URL=http://localhost:5173/auth/callback
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=1435626232749232181

# Frontend URL (pour CORS)
FRONTEND_URL=http://localhost:5173
